{% extends 'index.html' %}
{% block new_answer %}

<body>
    <h2>Post a new answer</h2>
    <a href="/question/{{ id }}">Back to questions</a>

    <form action="/question/{{ id }}/new_answer" method="POST">

        <label for="message">Message:</label><br>
        <textarea id="message" name="message" placeholder="new answer" rows="10" cols="30"></textarea><br><br>

        <label for="image">Add your image:</label><br>
        <input type="url" id="image" name="image"><br>

        <button type="submit">Submit</button>
    </form>

</body>
{% endblock %}
